In [4]:
import numpy as np
import pandas as pd

In [1]:
out_ind = ['T1', 'T1', 'T1', 'T2', 'T2', 'T2']
ins_ind = [1, 2, 3, 1, 2, 3]
ind_hier = list(zip(out_ind, ins_ind))

In [2]:
ind_hier

[('T1', 1), ('T1', 2), ('T1', 3), ('T2', 1), ('T2', 2), ('T2', 3)]

In [7]:
mult_ind = pd.MultiIndex(levels=[['T1', 'T2'], [1, 2, 3]],
                         codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [8]:
mult_ind

MultiIndex([('T1', 1),
            ('T1', 2),
            ('T1', 3),
            ('T2', 1),
            ('T2', 2),
            ('T2', 3)],
           )

In [12]:
mult_ind_df = pd.DataFrame(np.random.randn(6, 2), mult_ind, ['X', 'Y'])

In [13]:
mult_ind_df

             X         Y
T1 1  0.319843 -0.450170
   2 -0.591558  1.469486
   3  0.264680 -0.296820
T2 1  1.365500  0.157394
   2 -0.602448 -0.955549
   3 -1.289920 -1.558844

In [14]:
mult_ind_df.loc['T1']

          X         Y
1  0.319843 -0.450170
2 -0.591558  1.469486
3  0.264680 -0.296820

In [15]:
mult_ind_df.loc['T1'].loc[2]

X   -0.591558
Y    1.469486
Name: 2, dtype: float64

In [16]:
mult_ind_df.index

MultiIndex([('T1', 1),
            ('T1', 2),
            ('T1', 3),
            ('T2', 1),
            ('T2', 2),
            ('T2', 3)],
           )

In [17]:
mult_ind_df.index.names

FrozenList([None, None])

In [18]:
mult_ind_df.index.names = ['Types', 'Numbers']

In [19]:
mult_ind_df

                      X         Y
Types Numbers
T1    1        0.319843 -0.450170
      2       -0.591558  1.469486
      3        0.264680 -0.296820
T2    1        1.365500  0.157394
      2       -0.602448 -0.955549
      3       -1.289920 -1.558844

In [20]:
mult_ind_df.loc['T1'].loc[3]['Y']

-0.296819767808977

In [21]:
mult_ind_df

                      X         Y
Types Numbers
T1    1        0.319843 -0.450170
      2       -0.591558  1.469486
      3        0.264680 -0.296820
T2    1        1.365500  0.157394
      2       -0.602448 -0.955549
      3       -1.289920 -1.558844

In [22]:
mult_ind_df.xs('T2')

                X         Y
Numbers
1        1.365500  0.157394
2       -0.602448 -0.955549
3       -1.289920 -1.558844

In [23]:
mult_ind_df.xs(2, level='Numbers')

              X         Y
Types
T1    -0.591558  1.469486
T2    -0.602448 -0.955549