Создайте DataFrame при помощи следующего кода:

In [1]:
import numpy as np
import pandas as pd

mult_ind = pd.MultiIndex(levels=[['A', 'B', 'C'], ['left', 'right']],
                     codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])
df = pd.DataFrame(np.random.randn(6, 3), mult_ind, ['X', 'Y', 'Z'])

In [2]:
df

                X         Y         Z
A left   0.514756 -2.720591  1.401142
  right  2.467372  0.799225  0.648628
B left  -0.316553 -0.427053 -0.683032
  right -0.757849  0.610332 -2.289062
C left  -0.191072 -0.244999 -0.470972
  right  0.365566 -0.501003  0.083596

Вопросы к этому заданию:

1) Выберите значение C-left из столбца X

In [4]:
df.loc['C', 'left']['X']

-0.1910715818942327

2) Создайте названия. Для внешних индексов - 'Points', для внутренних - 'Sides'

In [5]:
df.index.names = ['Points', 'Sides']

In [6]:
df

                     X         Y         Z
Points Sides
A      left   0.514756 -2.720591  1.401142
       right  2.467372  0.799225  0.648628
B      left  -0.316553 -0.427053 -0.683032
       right -0.757849  0.610332 -2.289062
C      left  -0.191072 -0.244999 -0.470972
       right  0.365566 -0.501003  0.083596

3) Выберите данные всех правых сторон столбца Y

In [13]:
df.xs('left', level='Sides')['Y']

Points
A   -2.720591
B   -0.427053
C   -0.244999
Name: Y, dtype: float64