In [3]:
import pandas as pd

# CSV I/O

In [4]:
pd.read_csv('us-500.csv')

,first_name,last_name,company_name,address,city,county,state,zip,phone1,phone2,email,web
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org,http://www.chemeljameslcpa.com
3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,208-206-9848,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,574-330-1884,rkampa@kampa.org,http://www.hermarinc.com
497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,308-250-6987,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,206-395-6284,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,407-557-8857,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [5]:
first_10_rows = pd.read_csv('us-500.csv').head(10)

In [6]:
first_10_rows

,first_name,last_name,company_name,address,city,county,state,zip,phone1,phone2,email,web
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org,http://www.chemeljameslcpa.com
3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net,http://www.printingdimensions.com
5,Simona,Morasca,"Chapman, Ross E Esq",3 Mcauley Dr,Ashland,Ashland,OH,44805,419-503-2484,419-800-6759,simona@morasca.com,http://www.chapmanrosseesq.com
6,Mitsue,Tollner,Morlong Associates,7 Eads St,Chicago,Cook,IL,60632,773-573-6914,773-924-8565,mitsue_tollner@yahoo.com,http://www.morlongassociates.com
7,Leota,Dilliard,Commercial Press,7 W Jackson Blvd,San Jose,Santa Clara,CA,95111,408-752-3500,408-813-1105,leota@hotmail.com,http://www.commercialpress.com
8,Sage,Wieser,Truhlar And Truhlar Attys,5 Boston Ave #88,Sioux Falls,Minnehaha,SD,57105,605-414-2147,605-794-4895,sage_wieser@cox.net,http://www.truhlarandtruhlarattys.com
9,Kris,Marrier,"King, Christopher A Esq",228 Runamuck Pl #2808,Baltimore,Baltimore City,MD,21224,410-655-8723,410-804-4694,kris@gmail.com,http://www.kingchristopheraesq.com

In [7]:
type(first_10_rows)

pandas.core.frame.DataFrame

In [9]:
first_10_rows.to_csv('my_csv.csv', index=False)

In [11]:
first_10_rows.to_csv('my_csv.csv', index_label="id")

# Excel I/O

In [16]:
df = pd.read_excel('SampleData.xlsx', sheet_name='SalesOrders')

In [17]:
df

    OrderDate   Region       Rep     Item  Units  Unit Cost    Total
0  2018-01-06     East     Jones   Pencil     95       1.99   189.05
1  2018-01-23  Central    Kivell   Binder     50      19.99   999.50
2  2018-02-09  Central   Jardine   Pencil     36       4.99   179.64
3  2018-02-26  Central      Gill      Pen     27      19.99   539.73
4  2018-03-15     West   Sorvino   Pencil     56       2.99   167.44
5  2018-04-01     East     Jones   Binder     60       4.99   299.40
6  2018-04-18  Central   Andrews   Pencil     75       1.99   149.25
7  2018-05-05  Central   Jardine   Pencil     90       4.99   449.10
8  2018-05-22     West  Thompson   Pencil     32       1.99    63.68
9  2018-06-08     East     Jones   Binder     60       8.99   539.40
10 2018-06-25  Central    Morgan   Pencil     90       4.99   449.10
11 2018-07-12     East    Howard   Binder     29       1.99    57.71
12 2018-07-29     East    Parent   Binder     81      19.99  1619.19
13 2018-08-15     East     Jones   Pencil     35       4.99   174.65
14 2018-09-01  Central     Smith     Desk      2     125.00   250.00
15 2018-09-18     East     Jones  Pen Set     16      15.99   255.84
16 2018-10-05  Central    Morgan   Binder     28       8.99   251.72
17 2018-10-22     East     Jones      Pen     64       8.99   575.36
18 2018-11-08     East    Parent      Pen     15      19.99   299.85
19 2018-11-25  Central    Kivell  Pen Set     96       4.99   479.04
20 2018-12-12  Central     Smith   Pencil     67       1.29    86.43
21 2018-12-29     East    Parent  Pen Set     74      15.99  1183.26
22 2019-01-15  Central      Gill   Binder     46       8.99   413.54
23 2019-02-01  Central     Smith   Binder     87      15.00  1305.00
24 2019-02-18     East     Jones   Binder      4       4.99    19.96
25 2019-03-07     West   Sorvino   Binder      7      19.99   139.93
26 2019-03-24  Central   Jardine  Pen Set     50       4.99   249.50
27 2019-04-10  Central   Andrews   Pencil     66       1.99   131.34
28 2019-04-27     East    Howard      Pen     96       4.99   479.04
29 2019-05-14  Central      Gill   Pencil     53       1.29    68.37
30 2019-05-31  Central      Gill   Binder     80       8.99   719.20
31 2019-06-17  Central    Kivell     Desk      5     125.00   625.00
32 2019-07-04     East     Jones  Pen Set     62       4.99   309.38
33 2019-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34 2019-08-07  Central    Kivell  Pen Set     42      23.95  1005.90
35 2019-08-24     West   Sorvino     Desk      3     275.00   825.00
36 2019-09-10  Central      Gill   Pencil      7       1.29     9.03
37 2019-09-27     West   Sorvino      Pen     76       1.99   151.24
38 2019-10-14     West  Thompson   Binder     57      19.99  1139.43
39 2019-10-31  Central   Andrews   Pencil     14       1.29    18.06
40 2019-11-17  Central   Jardine   Binder     11       4.99    54.89
41 2019-12-04  Central   Jardine   Binder     94      19.99  1879.06
42 2019-12-21  Central   Andrews   Binder     28       4.99   139.72

In [18]:
df.to_excel('MyExcel.xlsx', sheet_name='MySheet')

# HTML I/O

In [20]:
html_data = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_largest_cities_on_the_United_States_West_Coast'
)

In [21]:
type(html_data)

list

In [23]:
html_data[0]

    0            1
0 NaN  County seat

In [24]:
html_data[1]

,2017 Rank,City,State,County / borough,Population(2017 est.)[4],Metro,Notes
0,1,Los Angeles,California,Los Angeles,3999759,13131431.0,Largest city in California
1,2,San Diego,California,San Diego,1419516,3317749.0,NaN
2,3,San Jose,California,Santa Clara,1035317,1998463.0,Located within the San Francisco Bay Area
3,4,San Francisco,California,San Francisco,884363,4727357.0,NaN
4,5,Seattle,Washington,King,724745,3733580.0,Largest city in Washington
...,...,...,...,...,...,...,...
105,106,San Leandro,California,Alameda,90553,NaN,Located within San Francisco Bay Area
106,107,Livermore,California,Alameda,90295,NaN,Located within San Francisco Bay Area
107,108,Indio,California,Riverside,89793,NaN,NaN
108,109,Bellingham,Washington,Whatcomb,89045,221404.0,NaN
109,110,Kirkland,Washington,King,88630,NaN,Located within Seattle metropolitan area

In [27]:
data = html_data[1].head(20)

In [28]:
data.to_csv('html_data.csv')

In [29]:
json_date = data.to_json()

In [30]:
json_date

'{"2017\\u00a0Rank":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10,"10":11,"11":12,"12":13,"13":14,"14":15,"15":16,"16":17,"17":18,"18":19,"19":20},"City":{"0":"Los Angeles","1":"San Diego","2":"San Jose","3":"San Francisco","4":"Seattle","5":"Portland","6":"Fresno","7":"Sacramento","8":"Long Beach","9":"Oakland","10":"Bakersfield","11":"Anaheim","12":"Santa Ana","13":"Riverside","14":"Stockton","15":"Anchorage","16":"Irvine","17":"Chula Vista","18":"Fremont","19":"Spokane"},"State":{"0":"California","1":"California","2":"California","3":"California","4":"Washington","5":"Oregon","6":"California","7":"California","8":"California","9":"California","10":"California","11":"California","12":"California","13":"California","14":"California","15":"Alaska","16":"California","17":"California","18":"California","19":"Washington"},"County \\/ borough":{"0":"Los Angeles","1":"San Diego","2":"Santa Clara","3":"San Francisco","4":"King","5":"Multnomah","6":"Fresno","7":"Sacramento","8":"Los Angeles","9":"Alameda","10":"Kern","11":"Orange","12":"Orange","13":"Riverside","14":"San Joaquin","15":"Anchorage","16":"Orange","17":"San Diego","18":"Alameda","19":"Spokane"},"Population(2017\\u00a0est.)[4]":{"0":3999759,"1":1419516,"2":1035317,"3":884363,"4":724745,"5":647805,"6":527438,"7":501901,"8":469450,"9":425195,"10":380874,"11":352497,"12":334136,"13":327728,"14":310496,"15":294356,"16":277453,"17":270471,"18":234962,"19":217300},"Metro":{"0":13131431.0,"1":3317749.0,"2":1998463.0,"3":4727357.0,"4":3733580.0,"5":2389228.0,"6":972297.0,"7":2149127.0,"8":13131431.0,"9":null,"10":839631.0,"11":null,"12":null,"13":null,"14":726126.0,"15":401635.0,"16":null,"17":null,"18":null,"19":556634.0},"Notes":{"0":"Largest city in California","1":null,"2":"Located within the San Francisco Bay Area","3":null,"4":"Largest city in Washington","5":"Largest city in Oregon","6":null,"7":null,"8":"Located within the Los Angeles metropolitan area","9":null,"10":null,"11":"Located within the Los Angeles metropolitan area","12":"Located within the Los Angeles metropolitan area","13":null,"14":null,"15":"Largest city in Alaska","16":null,"17":"Located within San Diego metropolitan area","18":null,"19":null}}'