In [1]:
import numpy as np
import pandas as pd

In [3]:
my_df = pd.DataFrame(np.random.randn(4, 5), [1, 2, 3, 4],
                     ['red', 'orange', 'yellow', 'green', 'blue'])

In [4]:
my_df

        red    orange    yellow     green      blue
1 -2.296054 -0.676138  1.587921 -0.877326  0.586361
2  0.689716  1.328805 -1.194583  1.206870  1.094733
3 -1.138222  0.757268 -0.499140 -1.382607  0.904858
4 -1.580638 -0.473353  0.755980  0.684905  0.451581

In [5]:
my_df['orange']

1   -0.676138
2    1.328805
3    0.757268
4   -0.473353
Name: orange, dtype: float64

In [6]:
my_df['red']

1   -2.296054
2    0.689716
3   -1.138222
4   -1.580638
Name: red, dtype: float64

In [7]:
type(my_df['orange'])

pandas.core.series.Series

In [8]:
type(my_df)

pandas.core.frame.DataFrame

In [9]:
my_df[['yellow', 'blue']]

     yellow      blue
1  1.587921  0.586361
2 -1.194583  1.094733
3 -0.499140  0.904858
4  0.755980  0.451581

In [10]:
type(my_df[['yellow', 'blue']])

pandas.core.frame.DataFrame

In [11]:
my_df['indigo'] = my_df['blue']

In [12]:
my_df

        red    orange    yellow     green      blue    indigo
1 -2.296054 -0.676138  1.587921 -0.877326  0.586361  0.586361
2  0.689716  1.328805 -1.194583  1.206870  1.094733  1.094733
3 -1.138222  0.757268 -0.499140 -1.382607  0.904858  0.904858
4 -1.580638 -0.473353  0.755980  0.684905  0.451581  0.451581

In [13]:
my_df['violet'] = my_df['blue'] + my_df['indigo']

In [14]:
my_df

        red    orange    yellow     green      blue    indigo    violet
1 -2.296054 -0.676138  1.587921 -0.877326  0.586361  0.586361  1.172722
2  0.689716  1.328805 -1.194583  1.206870  1.094733  1.094733  2.189466
3 -1.138222  0.757268 -0.499140 -1.382607  0.904858  0.904858  1.809716
4 -1.580638 -0.473353  0.755980  0.684905  0.451581  0.451581  0.903163

In [15]:
my_df.loc[2]

red       0.689716
orange    1.328805
yellow   -1.194583
green     1.206870
blue      1.094733
indigo    1.094733
violet    2.189466
Name: 2, dtype: float64

In [17]:
my_df.iloc[2]

red      -1.138222
orange    0.757268
yellow   -0.499140
green    -1.382607
blue      0.904858
indigo    0.904858
violet    1.809716
Name: 3, dtype: float64

In [18]:
my_df.iloc[2] = my_df.iloc[1]

In [19]:
my_df

        red    orange    yellow     green      blue    indigo    violet
1 -2.296054 -0.676138  1.587921 -0.877326  0.586361  0.586361  1.172722
2  0.689716  1.328805 -1.194583  1.206870  1.094733  1.094733  2.189466
3  0.689716  1.328805 -1.194583  1.206870  1.094733  1.094733  2.189466
4 -1.580638 -0.473353  0.755980  0.684905  0.451581  0.451581  0.903163

In [20]:
my_df.iloc[2]

red       0.689716
orange    1.328805
yellow   -1.194583
green     1.206870
blue      1.094733
indigo    1.094733
violet    2.189466
Name: 3, dtype: float64

In [21]:
my_df.loc[3, 'orange']

1.3288054677819723

In [22]:
my_df.loc[[1, 3], ['blue', 'violet']]

       blue    violet
1  0.586361  1.172722
3  1.094733  2.189466

In [23]:
my_df.drop(3)

        red    orange    yellow     green      blue    indigo    violet
1 -2.296054 -0.676138  1.587921 -0.877326  0.586361  0.586361  1.172722
2  0.689716  1.328805 -1.194583  1.206870  1.094733  1.094733  2.189466
4 -1.580638 -0.473353  0.755980  0.684905  0.451581  0.451581  0.903163

In [24]:
my_df

        red    orange    yellow     green      blue    indigo    violet
1 -2.296054 -0.676138  1.587921 -0.877326  0.586361  0.586361  1.172722
2  0.689716  1.328805 -1.194583  1.206870  1.094733  1.094733  2.189466
3  0.689716  1.328805 -1.194583  1.206870  1.094733  1.094733  2.189466
4 -1.580638 -0.473353  0.755980  0.684905  0.451581  0.451581  0.903163

In [25]:
my_df.drop(3, inplace=True)

In [26]:
my_df

        red    orange    yellow     green      blue    indigo    violet
1 -2.296054 -0.676138  1.587921 -0.877326  0.586361  0.586361  1.172722
2  0.689716  1.328805 -1.194583  1.206870  1.094733  1.094733  2.189466
4 -1.580638 -0.473353  0.755980  0.684905  0.451581  0.451581  0.903163

In [27]:
my_df.drop('indigo', axis=1)

        red    orange    yellow     green      blue    violet
1 -2.296054 -0.676138  1.587921 -0.877326  0.586361  1.172722
2  0.689716  1.328805 -1.194583  1.206870  1.094733  2.189466
4 -1.580638 -0.473353  0.755980  0.684905  0.451581  0.903163

In [28]:
my_df.drop('indigo', axis=1, inplace=True)

In [29]:
my_df

        red    orange    yellow     green      blue    violet
1 -2.296054 -0.676138  1.587921 -0.877326  0.586361  1.172722
2  0.689716  1.328805 -1.194583  1.206870  1.094733  2.189466
4 -1.580638 -0.473353  0.755980  0.684905  0.451581  0.903163

In [30]:
my_df.shape

(3, 6)