Создайте DataFrame с целочисленными значениями от 1 до 100  следующего вида

In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame(data=np.random.randint(1, 101, 20).reshape(5, 4),
                  index=np.arange(10, 60, 10),
                  columns=['A', 'B', 'C', 'D'])

In [8]:
df

     A   B   C   D
10  92  92  19  54
20  61  16  51  50
30  82  40  51  49
40  37  20  66  10
50  99  51  92  75

1) Выберите из неё все строки, в которых значения в столбце A меньше 40

In [9]:
df[df['A'] < 40]

     A   B   C   D
40  37  20  66  10

2) Выберите из неё все строки, в которых значения в столбце A меньше 50 или значения в столбце B меньше 40

In [11]:
df[(df['A'] < 50) | (df['B'] < 40)]

     A   B   C   D
20  61  16  51  50
40  37  20  66  10

3) Выберите из неё значения столбцов A и B во всех строках, в которых значения в столбце C больше 20 и значения в столбце D меньше 70

In [13]:
df[(df['C'] > 50) & (df['D'] < 70)][['A', 'B']]

     A   B
20  61  16
30  82  40
40  37  20