Создайте DataFrame, состоящую из 5 столбцов и 7 строк, в которой будут целые значения возраста от 1 до 100 включительно. Для столбцов используйте названия стран, для индексов строк - буквы латинского алфавита от a до g

In [2]:
import numpy as np
import pandas as pd

In [12]:
df = pd.DataFrame(data=np.random.randint(1, 101, 35).reshape(7, 5),
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                  columns=['France', 'Spaing', 'Italy', 'Germany', 'Great Britain'])

In [13]:
df

   France  Spaing  Italy  Germany  Great Britain
a      13      19     16       49             21
b       2      12     62       45              9
c      91      16     53       51             94
d      67      57     24       49             60
e      45      56     60       40             18
f      15      11     26       23             48
g       7      91     15       10             77